{
<%
env_lookup.split.each do |n|
  v = ENV[n]
  unless v.nil? || v.empty?
-%>
  "<%= n %>": "<%= ENV[n] %>",
<%-
  end
end
-%>
  "private_token": "<%= private_token %>",
  "repmgr_trust_auth_cidr_addresses": <%= cidrs %>,
  "postgresql_trust_auth_cidr_addresses": <%= cidrs %>,
  "gitlab_root_password": {
    "__ansible_vault": "<%= gitlab_root_password.gsub($/, '\n') %>"
  },
  "db_key_base": {
    "__ansible_vault": "<%= db_key_base.gsub($/, '\n') %>"
  },
  "tracking_database_password": {
    "__ansible_vault": "<%= tracking_database_password.gsub($/, '\n') %>"
  },
  "replica_database_password": {
    "__ansible_vault": "<%= replica_database_password.gsub($/, '\n') %>"
  },
  "gitaly_auth_token": {
    "__ansible_vault": "<%= gitaly_auth_token.gsub($/, '\n') %>"
  },
  "gitlab_shell_secret_token": {
    "__ansible_vault": "<%= gitlab_shell_secret_token.gsub($/, '\n') %>"
  },
  "grafana_admin_password": {
    "__ansible_vault": "<%= grafana_admin_password.gsub($/, '\n') %>"
  },
<% unless package_url.empty? -%>
  "package_url": "<%= package_url %>",
<%- end -%>
<% unless package_repository.empty? -%>
  "package_repository": "<%= package_repository %>",
<%- end -%>
<% unless package_repository_url.empty? -%>
  "package_repository_url": "<%= package_repository_url %>",
<%- end -%>
<% unless license_data.empty? -%>
  "license_data": {
    "__ansible_vault": "<%= license_data.gsub($/, '\n') %>"
  },
<%- end -%>
<%- unless geo_settings.empty? -%>
  "geo": <%= JSON.pretty_generate(JSON.parse!(geo_settings)) %>,
<%- end -%>
"postgresql_listen_address": "<%= postgresql_listen_address %>",
"ssh_known_hosts_path": "<%= ssh_known_hosts_path %>",
"artifacts_path": "<%= artifacts_path %>",
"redis_bind": "<%= redis_bind %>"
}
