---
plugin: gcp_compute
projects:
  - <%= project %>
auth_kind: serviceaccount
service_account_file: <%= service_account_file %>
hostnames:
  - name
compose:
  ansible_host: networkInterfaces[0].accessConfigs[0].natIP
  ansible_user: "'<%= ssh_user %>'"
  ansible_become_method: "'<%= become_method %>'"
  internal_host: networkInterfaces[0].networkIP
  cluster_names: "'<%= cluster_names %>'.split()"
groups:
    consul: "'consul' in tags['items']"
    database: "'database' in tags['items']"
    gitaly: "'gitaly' in tags['items']"
    monitor: "'monitor' in tags['items']"
    redis: "'redis' in tags['items']"
    app: "'application' in tags['items']"
    db_primary: "'primary' in tags['items'] and 'database' in tags['items']"
    db_replica: "'replica' in tags['items'] and 'database' in tags['items']"
    primary_geo_site: <%= primary_cluster_group.split.map { |g| "\"'#{g}' in tags['items']\"" }.join(' or ').to_s %>
    <% cluster_names.split.each do |n| %><%= n %>: "'<%= n %>' in tags['items']"
    <% end %>
filters:
  - name = <%= host_prefix %>
