{% if external_url is defined and (ansible_host in groups['app'] or inventory_hostname in groups['app']) %}
external_url '{{ external_url }}'
{% endif %}

{% if external_gitaly_enabled == True %}
git_data_dirs({
  'default' => { 'gitaly_address' => 'tcp://{{ hostvars[groups['gitaly'][0]]['internal_host'] }}:8075' },
  'storage1' => { 'gitaly_address' => 'tcp://{{ hostvars[groups['gitaly'][0]]['internal_host'] }}:8075' },
})
{% endif %}

{% if external_monitor_enabled == True %}
gitlab_rails['monitoring_whitelist'] = ['{{ monitor_node_internal_ip }}', '127.0.0.0/8']
nginx['status']['options']['allow'] = ['{{ monitor_node_internal_ip }}', '127.0.0.0/8']
{% endif %}
