{% if external_monitor_enabled == True %}
external_url "http://{{ primary_app_server_ip }}/"

prometheus['scrape_configs'] = [
  {
    'job_name': 'postgres',
    'static_configs' => [
      'targets' => ['{{ database_nodes_internal_ips | first }}:9187'],
    ],
  },
  {
    'job_name': 'redis',
    'static_configs' => [
      'targets' => ['{{ redis_nodes_internal_ips | first }}:9121'],
    ]
  },
  {
    'job_name': 'gitaly',
    'static_configs' => [
      'targets' => ['{{ gitaly_nodes_internal_ips | first }}:9236'],
    ],
  },
  {
    'job_name': 'gitlab-nginx',
    'static_configs' => [
      'targets' => [
        {% for ip in app_nodes_internal_ips %}
        '{{ ip }}:8060',
        {% endfor %}
      ],
    ],
  },
  {
    'job_name': 'gitlab-workhorse',
    'static_configs' => [
      'targets' => [
        {% for ip in app_nodes_internal_ips %}
        '{{ ip }}:9229',
        {% endfor %}
      ],
    ],
  },
  {
    'job_name': 'gitlab-rails',
    'metrics_path': '/-/metrics',
    'static_configs' => [
      'targets' => [
        {% for ip in app_nodes_internal_ips %}
        '{{ ip }}:8080',
        {% endfor %}
      ],
    ],
  },
  {
    'job_name': 'gitlab-sidekiq',
    'static_configs' => [
      'targets' => [
        {% for ip in app_nodes_internal_ips %}
        '{{ ip }}:8082',
        {% endfor %}
      ],
    ],
  },
  {
    'job_name': 'node',
    'static_configs' => [
      'targets' => [
        '{{ database_nodes_internal_ips | first }}:9100',
        '{{ redis_nodes_internal_ips | first }}:9100',
        '{{ gitaly_nodes_internal_ips | first }}:9100',
        {% for ip in app_nodes_internal_ips %}
        '{{ ip }}:9100',
        {% endfor %}
      ],
    ],
  },
]
{% endif %}
